.skill-container{
    width: 100%;
    /* background-color: rebeccapurple; */
    padding: 10px;
    margin-top: 20px;
}
img {
    width: 55px;
    padding: 10px;
    object-fit: cover;
    
}
.skill{
    width: 80px;
}
ul {
/* width: 80%; */
/* background-color: blue; */
position: relative;
display: flex;
align-items: center;
list-style: none;
gap: 10px;
margin-left: 100px;
flex-wrap: wrap;
padding: 50px 10px;
}
ul li{
    width: 15%;
    font-weight: 500;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
    gap: 20px;
    border-radius: 16px;
    transition: 0.5s;
    box-shadow: 0 5px 8px rgba(0, 0,0,0.15);
}
ul li:hover{
    transform: scale(1.05);
    color: var(--main-color);
}