 .contact-con{
    /* background-color: rebeccapurple; */
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    box-shadow: 0 5px 8px rgba(136, 25, 25, 0.15);
    border-radius: 15px;
    position: relative;
    left: 25%;
 }

 .contact-con form{
    max-width: 70rem;
    margin:  20px auto;
    text-align: center;
}
.contact-con  form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-con  form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .2rem 0;
}
.contact-con form .input-box .input-field input
{
    width: 100%;
    height: 70%;
    padding: 1.5rem;
    font-size: 1.3rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: 2px solid var(--main-color);
}
.contact-con form .textarea-field textarea{
    width: 100%;
    height: 150px;
    padding: 1.5rem;
    font-size: 1.4rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: 2px solid var(--main-color);
}
.contact-con form .input-box .input-field input::placeholder,
.contact-con form .textarea-field textarea::placeholder{
    color: var(--text-color);
}
.contact-con form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height:80%;
    background: #e4e4e3;
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}
.contact-con form .input-box .input-field input:focus~.focus,
.contact-con form .input-box .input-field input:valid~.focus
{
    width: 100%;
    height: 70%;
}
.contact-con form .textarea-field textarea:focus~.focus,
.contact-con form .textarea-field textarea:valid~.focus{
    width: 100%;
    height: 100%;
}
.contact-con form .textarea-field{
    position: relative;
    margin: .2rem 0 2rem;
    display: flex;
}
.contact-con form .textarea-field textarea{
    resize: none;
}
.contact-con form .btn-box.btns .btn{
    cursor: pointer;
    padding: 20px;
    width: 50%;
    margin: -15px;
    font-size: 16px;
    font-weight: 600;
}
