/*!  navbar */
.navbar{
    width: 100vw;
    height: 4rem;
   display: flex;
   align-items: center;
   justify-content: space-around;
   border-radius: 10px;
   padding: 5px 0; 
   position:sticky;
   top: 0;
   z-index: 3;
   background:var(--second-bg-color);
 }
 .logo{
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
 }
 h5 {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--main-color);
  font-weight: 600;
  font-size: x-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 
 .list-item{
   margin: 1rem;
   cursor: pointer;
   transition: 0.5s;
 }
 .list-item:hover{
   transform: scale(1.05);
   color: var(--main-color);
   font-weight: 600;
   padding-bottom: 0.5rem;
   border-bottom: 3px solid var(--main-color);
 }
  .Menubtn{
   border: 1px solid var(--bg-color);
   border-radius: 10px;
   padding: 5px;
   cursor: pointer;
   font-weight: bold;
   text-align: center;
   transition: 0.5s;
  }
 .Menubtn:hover{ 
     transform: scale(1.05);
   color: var(--main-color);
 }
 
 .contact{
  background-color: var(--main-color);
  padding: 13px;
  border-radius: 10px;
  color: var(--second-bg-color);
  font-weight: bold;
  transition: 0.5s;
}
.contact:hover{
  transform: scale(1.05);
}
 