@import url('https://fonts:googleapis.com/css2?family=poppins:wgh@300,400,500,600,700,800,900& display=swap');
:root{
  --bg-color:#f0f0ed;
  --second-bg-color:#faf9f7;
  --text-color:#0f0f0f;
  --main-color:#054a99;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'poppins',sans-serif;
}

body{
background: var(--bg-color);
color: var(--text-color);
overflow:  hidden;
overflow-y: scroll;
}
::selection{
  background-color: black;
  color: #fff;
}




